<!DOCTYPE html>
<html lang="en">
<%- include ("../layout/header.ejs") %>
<body>
   <%- include ("../layout/navBarAdmin.ejs") %>
    <div class="container-fluid">
       <h1>dashboard</h1>
    </div>

    </body>
    </html>
    