<!DOCTYPE html>
<html lang="en">
<%- include ("../layout/header.ejs") %>
<body>
  <%- include ("../layout/navBarnew.ejs") %>
  <div class="container-fluid">
    <div class="container  d-flex flex-column justify-content-center align-items-center border shadow px-3 py-3 my-5 rounded col-md-4 col-xs-12 form" >
      <form action="/addresses/add" method="post" class=""  autocomplete="off" style="width: 90%;" >
        <h4 class="text-center my-3">Add Address</h4>
        <div class="d-flex gap-3">
        <div class="mb-3 ">           
          <label for="houseNo" class="form-label">House No</label>
          <input type="text" class="form-control" id="houseNo" name="houseNo" onchange="validateName()" required >
          <span id="nameError" style="color: red;"></span>
        </div>
        <div class="mb-3 ">           
          <label for="street" class="form-label">Street</label>
          <input type="text" class="form-control" id="street" name="street" onchange="validateName()" required >
          <span id="nameError" style="color: red;"></span>
        </div>
      </div>
      <div class="d-flex gap-3">
        <div class="mb-3 ">           
          <label for="city" class="form-label">City</label>
          <input type="text" class="form-control" id="city" name="city" onchange="validateName()" required >
          <span id="nameError" style="color: red;"></span>
        </div>
        <div class="mb-3 ">           
          <label for="state" class="form-label">State</label>
          <input type="text" class="form-control" id="state" name="state" onchange="validateName()" required >
          <span id="nameError" style="color: red;"></span>
        </div>
      </div>
      <div class="d-flex gap-3">
        <div class="mb-3 ">           
          <label for="country" class="form-label">Country</label>
          <input type="text" class="form-control" id="country" name="country" onchange="validateName()" required >
          <span id="nameError" style="color: red;"></span>
        </div>
        <div class="mb-3 ">           
          <label for="zipcode" class="form-label">Zipcode</label>
          <input type="text" class="form-control" id="zipcode" name="zipcode" onchange="validateName()" required >
          <span id="nameError" style="color: red;"></span>
        </div>
      </div>
      <div class="mb-3">
        <input type="submit" class="form-control fs-5" value="ADD NEW ADDRESS" required />
      </div>
      </form>
    </div>
  </div>
</body>
</html>