<!DOCTYPE html>
<html lang="en">
<%- include ("../layout/header.ejs") %>
<body >
  <%- include ("../layout/navBarnew.ejs") %>
  <div class="container-fluid mb-5" style="height: 100vh;">
    <div class="container">
        <h4>Account</h4>
        <div class="d-flex gap-5 ">
          <%- include ("../layout/profileSidebar.ejs") %>
            <div class="col-7 border shadow rounded">
              <h4 style="padding: 1.5rem 10rem;">Change Password</h4>
              <hr style="width: 80%;margin: auto;">
              <form id="changePasswordForm" class="my-5" autocomplete="off" style="width: 90%;margin: 0 auto; ">
                <div class="mb-3 d-flex flex-column ">                                
                <input type="password" class="form-control"  id="currentPassword" placeholder="Current Password" name="currentPassword" onchange="validatePassword()"  required>                
                <span id="passwordError" style="color: red;"></span>                         
            </div> 
            <div class="mb-3 d-flex flex-column ">                  
                <input type="password" class="form-control" id="newPassword" placeholder="New Password" name="newPassword" onchange="validatePassword()"  required>                
                <span id="passwordError" style="color: red;"></span>                         
            </div> 
            <div class="mb-3 d-flex flex-column ">            
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword" onchange="validatePassword()"  required>                
                <span id="passwordError" style="color: red;"></span>                         
            </div>
            <div class="mb-3 text-center">
              <input type="submit" value="Change Password" class=" text-decoration-none text-center fs-6  border rounded-2" style="background-color: #BC4C2A; color: white; padding: .5rem 10rem;  " >
            </div>
        </form>

            </div>
        </div>
    </div>
  </div>
  <%- include('../layout/footerUser.ejs') %>

  <script>
    document.getElementById('changePasswordForm').addEventListener('submit', async (e) => {
      e.preventDefault();

      const currentPassword = document.getElementById('currentPassword').value;
      const newPassword = document.getElementById('newPassword').value;
      const confirmPassword = document.getElementById('confirmPassword').value;

      if (newPassword !== confirmPassword) {
        Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Passwords do not match!',
                });
        return;
      }

      try {
        const response = await fetch('/change-password', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ currentPassword, newPassword }),
        });

        const result = await response.json();
        if (result.success) {
          Swal.fire({
            icon: 'success',
            text: 'Password changed successfully',
          }).then(() => {
            window.location.href = '/profile';
          });
        } else {
          Swal.fire({
            icon: 'error',
            text: 'Error: ' + result.message
          });
        }
      } catch (error) {
        console.error('Error:', error);
        Swal.fire({
          icon: 'error',
          text: 'An error occurred while changing the password.'
        });
      }
    });
  </script>
</body>
</html>