<!DOCTYPE html>
<html lang="en">
<%- include ("../layout/header.ejs") %>
<body>
  <%- include ("../layout/navbar.ejs") %>

  <div class="container-fluid" >
    <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 70vh;">
        
        <h2>Order Confirmation</h2>
        <p>Your order has been successfully placed.</p>
        <p>Order Number : <span class="fw-bold"><%= order.orderId %></span></p>
        <button type="submit" class="px-3 text-decoration-none fs-5 fw-bold  border rounded-2 bg-transparent my-3 " ><a href="/shopall" class="text-decoration-none" style="color: #BC4C2A;">CONTINUE SHOPPING</a></button>
      </div>
    </div>
  </div>
  <%- include ("../layout/footerUser.ejs") %>
</body>
</html>