<!DOCTYPE html>
<html lang="en">
<%- include ("../layout/header.ejs") %>
<body>
  <%- include ("../layout/navBarnew.ejs") %>

  <div class="container-fluid">
    <div class="container">
        <h3>Order Confirmation</h3>
        <p>Your order has been successfully placed.</p>
        <p>Order Number : <%= order.orderId %></p>
    </div>
  </div>
</body>
</html>