<!DOCTYPE html>
<html lang="en">
<%- include ("../layout/header.ejs") %>
<body>
  <%- include ("../layout/navBarnew.ejs") %>
  <div class="container-fluid">
    <div class="container mt-5" >
        <h2>Order Cancelled</h2>
        <p>Your PayPal order has been cancelled. No charges have been made to your account.</p>
        <p>If you encountered any issues or have changed your mind, you can try again or choose a different payment method.</p>
        <a href="/cart" class="button">Return to Cart</a>
        <a href="/" class="button">Continue Shopping</a>
    </div>
  </div>
</body>
</html>