<!DOCTYPE html>
<html lang="en">
<%- include ("../layout/header.ejs") %>
<body>
    <%- include ("../layout/navBarnew.ejs") %>
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="height: 90vh;">
        <div class="container d-flex flex-column justify-content-center align-items-center border shadow px-3 py-3 my5 rounded col-md-4 col-xs-12 form"  >
            
          
            <form action="/reset-password" method="post"  autocomplete="off" style="width: 90%;" >
                    
                    <div class="mb-3 "> 
                    <input type="hidden" name="email" value="<%= email %>">                             
                    <label for="password" class="form-label">Enter New Password</label>
                    <input type="password" class="form-control" id="password" name="password" onchange="validatePassword()"  required>
                    <span id="passwordError" style="color: red;"></span>                    
                    </div>                    
                    <input type="submit" class="form-control  fs-6"  value="RESET PASSWORD" style="color: #BC4C2A;"  required>  
                  </div>                  
            </form>           
        </div>
    </div>
    
</body>
</html>