<!DOCTYPE html>
<html lang="en">
<%- include ("../layout/header.ejs") %>
<body>
    <%- include ("../layout/navbar.ejs") %>
    <div class="container-fluid">
        <div class="container d-flex flex-column justify-content-center align-items-center border shadow px-3 py-3 my-5 rounded col-md-4 col-xs-12 form"   >
            <form action="/verify" method="post"  autocomplete="off" style="width: 90%;" >
                <h4 class="mb-3 text-center"> OTP Verification</h4> 
                <div class="mb-3 d-flex justify-content-between "> 
                    <input type="hidden" name="email" value="<%= email %>">          
                   
                    <!-- <input type="text" class="form-control" name="otp" required> -->
                    <input type="text" name="digit1" maxlength="1" required class="form-control">
                    <input type="text" name="digit2" maxlength="1" required class="form-control">
                    <input type="text" name="digit3" maxlength="1" required class="form-control" >
                    <input type="text" name="digit4" maxlength="1" required class="form-control">                    
                  </div>
                  <button type="submit" class="form-control  fs-6">Verify OTP</button>                 
            </form>
            <div class="d-flex justify-content-between">
            <p id="timer" class="fs-6 text-center">Time left: 60 seconds</p>
            <form action="/resend" method="POST">
            <input type="hidden" name="email" value="<%= email %>">
            <div class="mb-3">
                <button class="bg-transparent border-0 fs-6" style="color:#BC4C2A;" type="submit" id="resendOTPButton" disabled>Resend OTP</button>
            </div>                
            </form>
            </div>
            
        </div>
    </div>





    <script>
        // timer function
        let timer;
        let timeLeft = 60;

        function startTimer() {
            timer = setInterval(() => {
                if (timeLeft <= 0) {
                    clearInterval(timer);
                    document.getElementById('timer').innerText = "OTP expired. Resend OTP";
                    document.getElementById('resendOTPButton').disabled = false;
                } else {
                    timeLeft--;
                    document.getElementById('timer').innerText = "Time left: " + timeLeft + " seconds";
                }
            }, 1000);
        }
        window.onload = startTimer;

        // otp box
        document.addEventListener('DOMContentLoaded', (event) => {
            const inputs = document.querySelectorAll('input[type="text"]');
            inputs.forEach((input, index) => {
                input.addEventListener('input', () => {
                    if (input.value.length === input.maxLength) {
                        if (index < inputs.length - 1) {
                            inputs[index + 1].focus();
                        }
                    }
                });
                input.addEventListener('keydown', (e) => {
                    if (e.key === 'Backspace' && input.value === '') {
                        if (index > 0) {
                            inputs[index - 1].focus();
                        }
                    }
                });            
            })
        });
    </script>


</body>
</html>