@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

html {
  font-size: 80%;
}
.flex-grow-1 {
  flex-grow: 1;
}
p {
  font-size: 1.2rem;
}
.activemode {
  color: #bc4c2a;
}
.form {
  border-color: #bc4c2a;
}

.navbar {
  height: 10rem;
}
.navbar-brand {
  font-family: "Great Vibes", cursive;
  color: #bc4c2a;
  font-size: 5rem;
  text-decoration: none;
}

.nav-link {
  font-size: 1.3rem;
  color: #888888;
  position: relative;
}

.cart-count {
  font-size: 0.75rem;
  padding: 0.25em 0.4em;
  min-width: 1.5em;
  text-align: center;
  position: absolute;
 
}

.hero {
  background-size: cover;

  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  position: relative;
  margin: auto;
}

.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url("hero img.webp");
}

.header {
  position: absolute;
  top: 45%;
  left: 48%;
  color: white;

  z-index: 100;
}

.button1 {
  position: absolute;
  top: 50%;
  left: 45%;
  color: white;

  z-index: 100;
}
.image-container {
  position: relative;
  width: 300px;
}
.image-container img {
  width: 100%;
  height: auto;
}
.zoomed-image {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 1000px; /* Zoomed image size */
  height: auto;
  transform: scale(1.5);
  transform-origin: top left;
  z-index: 10;
}

.product-image-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.procuct-image-container img {
  max-width: 100%;
  max-height: 300px;
  margin-bottom: 10px;
}

.button {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  color: #bc4c2a;
}

.vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Match the height of the cell */
  text-align: center; /* Optional: center-align text horizontally */
}

.color-radio {
  position: relative;
  display: inline-block;
}

.color-radio input[type="radio"] {
  display: none;
}

.color-radio label {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  border: 2px solid #ddd;
  cursor: pointer;
}

.color-radio input[type="radio"]:checked + label {
  border: 2px solid #333;
  box-shadow: 0 0 0 2px #fff inset;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  form {
    width: 90%;
  }
  .offcanvas.offcanvas-end {
    width: 100%;
  }

  .hero {
    background-image: url("mobilehero.jpg");
    background-position: center center;
  }
}
