@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   overflow-x: hidden;
}

html{
    font-size: 80%;

}
p{
 font-size: 1.6rem;
}

.form{
    border-color: #BC4C2A;
}

.navbar{
    height: 10rem;
}
.navbar-brand{
    font-family: "Playwrite AU VIC", cursive;
    color: #BC4C2A;
    font-size: 2.5rem;
    text-decoration: none;
}

.nav-link{
    font-size: 1.3rem;
    color: #888888;
    position: relative;
    
}

.hero{
    background-image: url("hero img.webp");
    background-size: cover;
    
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    position: relative;
    margin: auto;
    
}

.header{
    position: absolute;
    top: 45%;
    left: 48%;
    color: white;
    
    z-index: 100;
}

.button1{
    position: absolute;
    top: 50%;
    left: 45%;
    color: white;
    
    z-index: 100;
}
.image-container {
    position: relative;
    width: 300px;
  }
  .image-container img {
    width: 100%;
    height: auto;
  }
  .zoomed-image {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 1000px; /* Zoomed image size */
    height: auto;
    transform: scale(1.5);
    transform-origin: top left;
    z-index: 10;
  }



  .product-image-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.procuct-image-container img {
    max-width: 100%;
    max-height: 300px;
    margin-bottom: 10px;
}

.button{
    padding: .5rem 1rem;
    border: 1px solid #ccc;
    color: #BC4C2A;
}

@media screen and (max-width: 768px) {
    html{
        font-size:62.5%
    }

    form{
        width: 90%;
    }
}