<footer>
    <div class="py-5"  style="background-color:#F6F3EF;">
        <div class="row container mx-auto"> 
            <div class="col-lg-3 col-md-6 col-xs-12 mb-4 mb-lg-0 text-center">
                <h2 class=" navbar-brand">adalene.</h2>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12  mb-4 mb-lg-0 text-center">
                <ul class="list-unstyled  d-flex flex-column gap-3">
                    <li><a href="#" class="text-dark">Shop All</a></li>
                    <li><a href="#" class="text-dark">Bags</a></li>
                    <li><a href="#" class="text-dark">Wallets</a></li>
                    <li><a href="#" class="text-dark">Belts</a></li>                 
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 mb-4 mb-lg-0 text-center">
                <ul class="list-unstyled d-flex flex-column gap-3 ">
                    <li><a href="#" class="text-dark">FAQ</a></li>
                    <li><a href="#" class="text-dark">Shipping & Returns</a></li>
                    <li><a href="#" class="text-dark">Store Policy</a></li>
                    <li><a href="#" class="text-dark">Payment Methods</a></li>
                   
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 mb-4 mb-lg-0 text-center">
                <ul class="list-unstyled d-flex flex-column gap-3">
                    <li><a href="#" class="text-dark">Facebook</a></li>
                    <li><a href="#" class="text-dark">Instagram</a></li>
                    <li><a href="#" class="text-dark">Twitter</a></li>
                    <li><a href="#" class="text-dark">Pinterest</a></li>
                </ul>
            </div>
            
        </div>
        
           
        
    </div>
    
    <div class="text-center py-3 mt-auto  " style="background-color:#F6F3EF;">
        <p style="font-size: 1rem;">Copyright@Adalene-2024</p>
        </div>
        
</footer>






    