<nav class="navbar navbar-expand-lg   d-flex px-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">adalene.</a>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          adalene.
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active mx-lg-2" aria-current="page" href="/shopall">Shop All</a>

          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="/shopall?category=Bags">Bags</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="/shopall?category=Wallets">Wallets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="/shopall?category=Belts">Belts</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="social-icons">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-between align-items-center gap-3 fs-5">
        <li><a href="/profile"><i class="fa-solid fa-user" style="color: #bc4c2a;"></i></a></li>
        <li>

          <% if(user){%>
            <a href="/signout" class="text-decoration-none" style="color: #bc4c2a;"> Sign Out </a>
            <%}else{%>
              <a href="/signin" class="text-decoration-none" style="color: #bc4c2a;">Sign In </a>
              <%}%>

        </li>
        <li><a href="/wishlist"><i class="fa-regular fa-heart" style="color: #bc4c2a;"></i><span id="wishlistItemCount" class="wishlist-count translate-middle badge rounded-pill"
          style="background-color: #bc4c2a; display: <%= (wishlistCount > 0) ? 'inline-block' : 'none' %>;">
      <%= wishlistCount || 0 %>
    </span></a></li>
        <li><a href="/cart"><i class="fa-solid fa-cart-shopping" style="color: #bc4c2a;"></i><span id="cartItemCount"
              class="cart-count    translate-middle badge rounded-pill "
              style="background-color: #bc4c2a; display: <%= (cartCount > 0) ? 'inline-block' : 'none' %>;">
              <%= cartCount || 0 %>
            </span></a>
      </ul>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>