<div class="container-fluid">
  <div class="container">
<nav class="navbar navbar-expand-lg navbar-light px-5 py-5 ">
    <div class="container-fluid d-flex justify-content-between align-items-center ">
      <div>
      <a class="navbarbrand" href="/home">Adalene</a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5 px-5 d-flex gap-5">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/shopall">Shop All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bags">Bags</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/wallets">Walelts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/belts">Belts</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/phonecases">Phone Cases</a>
          </li> -->
          </ul>
        </div>
          
          <div class="d-flex justify-content-between align-items-center">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-between align-items-center gap-3 fs-5">
            <li><i class="fa-solid fa-user" style="color: #bc4c2a;" ></i></li>
            <li>
                <a href="/signout" class="text-decoration-none" style="color: #bc4c2a;" >
                    <% if(user){%>
                        Sign Out
                    <%}else{%>
                        Sign In
                    <%}%>
                </a>
            </li> 
            <li><i class="fa-regular fa-heart" style="color: #bc4c2a;"></i></li>
            <li><i class="fa-solid fa-cart-shopping" style="color: #bc4c2a;"></i>
            </li>       
          </ul>
        </div>
        
      
    </div>
  </nav>
</div>
</div>