<div class="col-3 border px-5 py-5 rounded" >
    <p><a href="/profile" class="text-decoration-none fs-4 " style="color: #888888;" >Profile</a></p>
    <p><a href="/change-password" class="text-decoration-none fs-4 " style="color: #888888;" >Change Password</a></p>
    <p><a href="/addresses" class="text-decoration-none fs-4 " style="color: #888888;" >Addresses</a></p>
    <p><a href="/order-history" class="text-decoration-none fs-4 " style="color: #888888;" >Orders</a></p>
    <p><a href="/my-wallet" class="text-decoration-none fs-4 " style="color: #888888;" >My Wallet</a></p>
    <p><a href="/my-referrals" class="text-decoration-none fs-4 " style="color: #888888;" >My Referrals</a></p>
  </div>